@import '../../constants/styles';

.LeftPanelTabs {
  display: flex;
  flex: 1;

  .Button {
    flex-grow: 1;
    margin: 0;
    border-radius: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .Icon {
      width: 19px;
      height: 19px;
    }

    &.active {
      border-bottom: 2px solid var(--selected-icon-color);
    }
  }
}
